<style>.collections_item:hover .collections_image,
.collections_item:focus-within .collections_image,
.collections_item:hover .collections_overlay-image,
.collections_item:focus-within .collections_overlay-image {
  scale: 1.1;
}
@media screen and (max-width: 1440px) {
  .swiper.is-collections {
    overflow: visible;
  }
}
</style><div class="padding-global padding-section-medium"><div class="container-large"><div class="swiper_component is-collections"><h2 class="heading-style-h2">
{{ section.settings.text_heading }}
</h2>
<div class="collections_swiper-wrapper"><div class="swiper is-collections"><div role="list" class="swiper-wrapper is-collections">{% for product in section.settings.collection_collection.products limit: section.settings.collection_collection_limit %}
<div class="swiper-slide is-collections">
    
    {% render 'product_item', product: product %}

    
</div>
{% endfor %}
</div></div><div class="hide-mobile-landscape"><div class="swiper_overlay-navigation"><button aria-label="Previous slide" type="button" class="swiper_button swiper-prev"><div class="swiper_button-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 29.541 22.323" style="transform: rotate(180deg)"><g id="Group_44" data-name="Group 44" transform="translate(0 1.014)"><path id="Path_1" data-name="Path 1" d="M115.445,20.633l9.311-10.148L115.445.338" transform="translate(-97.25 -0.338)" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="3"></path><line id="Line_1" data-name="Line 1" x1="27.506" transform="translate(0 10.148)" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="3"></line></g></svg></div></button><button aria-label="Next slide" type="button" class="swiper_button swiper-next"><div class="swiper_button-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 29.541 22.323"><g id="Group_44" data-name="Group 44" transform="translate(0 1.014)"><path id="Path_1" data-name="Path 1" d="M115.445,20.633l9.311-10.148L115.445.338" transform="translate(-97.25 -0.338)" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="3"></path><line id="Line_1" data-name="Line 1" x1="27.506" transform="translate(0 10.148)" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="3"></line></g></svg></div></button></div></div></div><div class="swiper_pagination is-mixed"><div class="swiper_bullet"></div><div class="swiper_bullet is-active"></div></div></div></div></div> <script> document.addEventListener('DOMContentLoaded', () =>{$(".swiper_component.is-collections").each(function (index){const swiper = new Swiper($(this).find(".swiper")[0],{autoHeight: false, followFinger: true, freeMode: false, slideToClickedSlide: false, slidesPerView: "auto", rewind: false, loop: true, loopAdditionalSlides: 2, centeredSlides: true, breakpoints:{992:{slidesPerView: 4,}, 1440:{slidesPerView: 5}}, mousewheel:{forceToAxis: true}, keyboard:{enabled: true, onlyInViewport: true}, pagination:{el: $(this).find(".swiper_pagination")[0], bulletActiveClass: "is-active", bulletClass: "swiper_bullet", bulletElement: "button", clickable: true,}, navigation:{nextEl: $(this).find(".swiper_button.swiper-next")[0], prevEl: $(this).find(".swiper_button.swiper-prev")[0], disabledClass: "swiper-button-disabled",}, slideActiveClass: "is-active", slideDuplicateActiveClass: "is-active", a11y:{slideRole: 'listitem'}});});}); </script>  {% schema %} {"tag":"section","name":"Collection-2","class":"section_collections is-dark","settings":[{"id":"text_heading","type":"text","label":"Heading","default":"Nos nouveaut\u00e9s"},{"id":"collection_collection","type":"collection","label":"Collection"},{"type":"range","id":"collection_collection_limit","min":1,"max":99,"step":1,"label":"Limit: Collection","default":6}],"presets":[{"name":"Collection-2","category":"Liquify","blocks":[]}]} {% endschema %}