<style>.collections_item:hover .collections_image,
.collections_item:focus-within .collections_image,
.collections_item:hover .collections_overlay-image,
.collections_item:focus-within .collections_overlay-image {
  scale: 1.1;
}
@media screen and (max-width: 1440px) {
  .swiper.is-collections {
    overflow: visible;
  }
}
</style><div class="padding-global padding-section-medium"><div class="container-large"><div class="collection_grid-wrapper"><h2 class="heading-style-h2">
{{ section.settings.text_heading }}
</h2>
<div li-for:inside="product in collection.products" class="splide slider">
        {% for product in collection.products %}                            
                            <div class="splide__track"><div class="splide__list"><div class="splide__slide">{% render 'product_item', product: product %}
</div><div class="splide__slide">{% render 'product_item', product: product %}
</div><div class="splide__slide">{% render 'product_item', product: product %}
</div><div class="splide__slide">{% render 'product_item', product: product %}
</div></div></div>
                            
                    {% endfor %}    </div>
</div></div></div> <script> document.addEventListener('DOMContentLoaded', () =>{const swiper = new Swiper('.swiper_component.is-collections .swiper',{// Options de base slidesPerView: 3, spaceBetween: 24, // 1.5rem loop: true, // Pagination pagination:{el: '.swiper_component.is-collections .swiper_pagination', clickable: true, bulletActiveClass: 'is-active', bulletClass: 'swiper_bullet', bulletElement: 'button'}, // Navigation navigation:{nextEl: '.swiper_component.is-collections .swiper_button.swiper-next', prevEl: '.swiper_component.is-collections .swiper_button.swiper-prev'}, // Responsive breakpoints breakpoints:{320:{slidesPerView: 1}, 576:{slidesPerView: 2}, 992:{slidesPerView: 3}, 1200:{slidesPerView: 4}}});}); </script>  {% schema %} {"tag":"section","name":"Collection-2","class":"section_collections is-dark","settings":[{"id":"text_heading","type":"text","label":"Heading","default":"Nos nouveaut\u00e9s"}],"presets":[{"name":"Collection-2","category":"Liquify","blocks":[]}]} {% endschema %}