<div class="lookbook_component"><div class="lookbook_image-wrapper"><img class="lookbook_image" src="{{ section.settings.lookbook_image | image_url: width: 1440 }}" width="720" alt="" sizes="(max-width: 767px) 100vw, 720px" li-object:src="section.settings.lookbook_image | image_url: width: 1440" loading="lazy" srcset="{{ 'lookbook_1lookbook.avif' | asset_url }} 500w, {{ 'lookbook_1lookbook.avif' | asset_url }} 800w, {{ 'lookbook_1.avif' | asset_url }} 1440w">
<div class="lookbook_points-wrapper">{% for point in section.blocks %}    <div li-for="point in section.blocks">
                                    
                            {% if point.type == 'point' %}    <div li-if="point.type == 'point'" class="lookbook_points">
    <div class="lookbook_ellipse-camel"></div><div class="lookbook_ellipse-white"></div><div class="lookbook_plus w-embed"><svg width="14" height="14" viewbox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 8H0V6H6V0H8V6H14V8H8V14H6V8Z" fill="#77634F"></path></svg></div>    </div>
{% endif %}
                            
                        </div>
{% endfor %}</div></div><div class="lookbook_swiper-wrapper"><div class="swiper in-lookbook"><div role="list" class="swiper-wrapper in-lookbook"><div class="swiper-slide in-lookbook">{% render 'product_item', product: product %}
</div></div></div><div class="swiper_overlay-navigation in-lookbook"><button aria-label="Previous slide" type="button" class="swiper_button swiper-prev in-lookbook"><div class="swiper_button-icon in-lookbook w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 29.541 22.323" style="transform: rotate(180deg)"><g id="Group_44" data-name="Group 44" transform="translate(0 1.014)"><path id="Path_1" data-name="Path 1" d="M115.445,20.633l9.311-10.148L115.445.338" transform="translate(-97.25 -0.338)" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="3"></path><line id="Line_1" data-name="Line 1" x1="27.506" transform="translate(0 10.148)" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="3"></line></g></svg></div></button><button aria-label="Next slide" type="button" class="swiper_button swiper-next in-lookbook"><div class="swiper_button-icon in-lookbook w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 29.541 22.323"><g id="Group_44" data-name="Group 44" transform="translate(0 1.014)"><path id="Path_1" data-name="Path 1" d="M115.445,20.633l9.311-10.148L115.445.338" transform="translate(-97.25 -0.338)" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="3"></path><line id="Line_1" data-name="Line 1" x1="27.506" transform="translate(0 10.148)" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="3"></line></g></svg></div></button></div></div></div><div class="hide w-embed w-script"><script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script><script>document.addEventListener('DOMContentLoaded', function () {
    const swiper = new Swiper('.swiper.in-lookbook', {
      slidesPerView: 1,
      spaceBetween: 20,
      centeredSlides: true,
      navigation: {
        nextEl: '.swiper-next.in-lookbook',
        prevEl: '.swiper-prev.in-lookbook',
      },
    });
    // S&eacute;lection des points
    const points = document.querySelectorAll('.lookbook_points');
    points.forEach((point, index) => {
      point.addEventListener('click', () => {
        swiper.slideTo(index);
      });
    });
  });
</script></div> {% schema %} {"tag":"section","name":"Lookbook","class":"section_lookbook","presets":[{"name":"Lookbook","category":"Liquify","blocks":[]}]} {% endschema %}