<style>.button.is-tab-button {
  opacity: 60%;
}
.button.is-tab-button.is-active {
  opacity: 100%;
}
</style><div class="padding-global padding-section-large"><div class="container-large"><div class="tabs_wrapper is-team"><h2 class="heading-style-h2">
{{ section.settings.text_heading }}
</h2>
<div li-content-for-theme-blocks="" class="tabs_component-wrapper">
{% content_for 'blocks' %}
</div>
</div></div></div> {% schema %} {"tag":"section","name":"Team","class":"section_tabs","blocks":[{"type":"tabs-component"},{"type":"@app"}],"settings":[{"id":"text_heading","type":"text","label":"Heading","default":"Tabs"}],"presets":[{"name":"Team","category":"Liquify","blocks":[]}]} {% endschema %}